<!DOCTYPE html>
<html>
  <head>
    <title>Socket.io Android Emulator</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <p style="text-align: center; font-size: 12px; color: #999;">Android Emulator</p>
    <div>
      <button id="menu">MENU</button>
      <button id="camera">CAMERA</button>
      <button id="messages">MESSAGES</button>
      <button id="home">HOME</button>
      <button id="web">WEB</button>
      <button id="volumeUp">VOLUME UP</button>
    </div>
    <div id="emulator-window">
      <canvas id="canvas"></canvas>
    </div>
    <p style="margin-top: 30px; text-align: center; font-size: 11px; color: #666;">Powered by <a href="http://socket.io">Socket.IO</a></p>
    <!-- <script src="/static/bundle.js"></script> -->
    <script src="bundle.js"></script>
  </body>
</html>
