<!DOCTYPE html>
<html>
  <head>
    <title>Socket.io Android Emulator</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="emulator-window">
      <canvas id="canvas"></canvas>
    </div>
    <script>
      var config = {}; config.port = "{{{port}}}";
    </script>
    <!-- <script src="/static/bundle.js"></script> -->
    <script src="bundle.js"></script>
  </body>
</html>
